* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
    background-color: linear-gradient(45deg, #808000, #d5ff8bca);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.div{
    margin: 10px 10px 10px 10px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.nav-menu {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.nav-menu a {
    color: rgb(34, 30, 30);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #24c9cc;
}

.hero-section {
    margin-top: 120px; 
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-direction: row;
}

.hero-section img {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}

.hero-section h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.about-section {
    max-width: 80%;
    text-align: center;
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.about-text{
    width: 45%;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 40px 20px;
    padding: 50px 75px 50px 75px;
    border-radius: 15px;
    background-color: #00a76aa1;
}

.about-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    color: azure;
}

.clients-section {
    width: 45%;
    align-items: center;
    justify-content: center;
    margin: 40px 20px 0px 20px;
    padding: 50px 100px 50px 100px;
    border-radius: 15px;
    background-color: #2ab3edb5;
}

.clients-section h4 {
    font-size: 40px;
    margin-bottom: 20px;
    color: azure;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.counter-box {
    text-align: center;
}

.label {
    color: #ffffff;
    margin-top: 10px;
}

.counter {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    padding: 5%; 
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background: linear-gradient(45deg, #f0ffe446, #49d6fd30);
}

.services-wrapper h2 {
    color: #000000;
    margin-bottom: 50px;
    font-size: 50px;
}

.service-box {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 40px 40px;
    flex-direction: row;
    background: #ffffff;
    text-align: center;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 10px 10px;
}

.service-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px 40px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    height: auto;
    border-width: 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}


.service-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    padding: 20px;
    background: linear-gradient(45deg, #f0ffe446, #49d6fd30);
    border-radius: 8px;
}

/*
.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 85%;
}
*/
/*
.feature {
    background: #ffffff;
    padding: 40px 40px 40px 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 10px 10px;
    height: auto;
    border-width: 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.feature h4 {
    backface-visibility: hidden;
    font-size: 24px;
    margin-bottom: 20px;
}


.feature:hover {
    transform: rotateY(180deg);
}

.feature p{
    background: #ffffff;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
*/
/*
.feature{
-webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: from-right;
    animation-name: from-right;
    -webkit-animation-timing-function: cubic-bezier(0.77,0,0.18,1);
    animation-timing-function: cubic-bezier(0.77,0,0.18,1)
}*/


.connect-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 40px 40px 40px 40px;
    padding: 30px;
    border-radius: 5px;
    background: linear-gradient(45deg, #f0ffe446, #49d6fd30);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
    width: 100%;
    text-align: center;
}


.internship-training {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    width: 90%;
    margin: 0 auto; 
}

.item {
    display: inline-block;
    min-width: 200px;
    padding: 25px;
    background-color: #90beee;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.connect {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.connect p {
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.connect button {
    background: linear-gradient(45deg, #f0ffe446, #49d6fd30);
    color: rgb(0, 0, 0);
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border-color: #ffffff;
    transition: transform 0.3s, background 0.3s;
    font-weight:500; 
    font-style: italic;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 32px;
}

.connect button:focus {
    outline: none;
}
.connect button:hover {
    background: linear-gradient(45deg, #00c6ff, #007bff);
    cursor: pointer;
}
.connect button:active {
    transform: scale(0.95);
}

.connect-section h4 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 50px;
}


/*
.contact-section{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    position: relative;
}


.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.social-links {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    justify-content: flex-start;
}
.social-links a img {
    width: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.social-links a:hover img {
    transform: scale(1.2);
}



footer{
    background-color: #0000007e;
    text-align: left;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
*/

/*footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    width: 100%; 
    position: relative; 
    bottom: 0; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    
}
  */  

#contact h2{
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 40px;
}


footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    width: 100%;
    position: relative;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    bottom: 0px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div > * {
        flex: 1;
        margin: 0 10px;
    }
}
/*
.contact-box  {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    margin: auto;
    width: min-content;
}*/

.social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-links a img {
    width: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.2);
}

.footer-text {
    text-align: center;
    margin-top: 30px;
    padding: 20px 20px 0px 20px;
    font-size: 16px;
    color: #ffffff;
}